<h1>Report Sighting</h1>

<% if @sighting.pet_id.present? %>
  <h2><%= @sighting.pet.name %></h2>
  <% if @sighting.pet.image.present? %>
    <%= image_tag @sighting.pet.image.first.url, class: 'question-thumbnail' %>
  <%end %>
<%end %>

<%= render 'form', {btn_label: 'Submit'} %>
