<h1>Home Page</h1>
<div class="">

  <div style='width: 800px;'>
    <input id="pac-input" class="controls" type="text" placeholder="Search Box">
    <div id="map" style='width: 800px; height: 400px;'></div>
  </div>

</div>
